---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import ProblemsSection from '../components/ProblemsSection.astro';
import StatsChartSection from '../components/StatsChartSection.astro';
import ResilienceBusinessMetrics from '../components/ResilienceBusinessMetrics.astro';
import DiagnosticsSection from '../components/DiagnosticsSection.astro';
import WebinarSection from '../components/WebinarSection.astro';
import FormatsSection from '../components/FormatsSection.astro';
import ProofSection from '../components/ProofSection.astro';
import BlogSection from '../components/BlogSection.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="МЭТЧ - Повышаем эффективность компании через устойчивость команд">
  <main>
    <Hero />
    <ProblemsSection />
    <StatsChartSection />
    <ResilienceBusinessMetrics />
    <DiagnosticsSection />
    <WebinarSection />
    <FormatsSection />
    <ProofSection />
    <BlogSection />
    <FinalCTA />
  </main>
  <Footer />
</BaseLayout>
